* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Oswald', sans-serif;
}

a{
    background-color: transparent;
}

.logo{
    width: 100px;
    height: auto;
    margin-left: 24px;
}

.aboutImg{
    border: 5px solid #AAA9CC;
    border-radius: 15%;
}

.productOne{
    background-color: #E89CED;
    width: 625px;
    height: 665px;
}

.productTwo{
    background-color: #FFF3FA;
    width: 625px;
    height: 665px;
}

.productThree{
    background-color: #E89CED;
    width: 625px;
    height: 665px;
}

.productFour{
    background-color: #FFF3FA;
    width: 725px;
    height: 765px;
    margin-bottom: 150px;
}

#nrgTitle{
    padding: 50px 0 90px 0;
}

.transformImg{
    width: auto;
    height: 600px;
    border: 5px solid #E959BC;
    border-radius: 3%;
}

.waveBreakStart{
    width: 1800px;
    margin: auto;
    background-color: #FFDAF0;
}

.waveBreakEnd{
    width: 1800px;
    margin: auto;
    background-color: #FFDAF0;
}

.contactInfo{
    background-color: inherit;
    text-decoration: none;
    color: white;
}

.footerLogo{
    background-color: transparent;
    width: 226px;
    margin: auto;
}

@media screen and (max-width: 1350px){
    .aboutImg{
        width: 70%;
        height: 70%;
        margin-left: 15%;
    }

    .productOne, .productTwo, .productThree{
        width: 525px;
        height: 565px;
    }

    .productFour{
        background-color: #FFF3FA;
        width: 400px;
        height: 440px;
        position: relative;
        bottom: 75px;
        margin-bottom: 0;
    }

    #nrgTitle{
        padding-bottom: 0;
        z-index: 10;
    }

    .waveBreakStart{
        display: none;
    }

    .waveBreakEnd{
        display: none;
    }
}

@media screen and (max-width: 700px){
    .productOne, .productTwo, .productThree{
        width: 450px;
        height: 470px;
    }

    .productFour{
        width: 400px;
        height: 440px;
    }

    .transformImg{
        height: 500px;
    }
}

@media screen and (max-width: 550px){
    .productOne, .productTwo, .productThree{
        width: 425px;
        height: 465px;
    }

    .productFour{
        width: 380px;
        height: 420px;
    }

    .transformImg{
        height: 400px;
    }
}

@media screen and (max-width: 480px){
    .logo{
        width: 80px;
        margin-top: 15px;
    }

    .productOne, .productTwo, .productThree{
        min-width: 300px;
        min-height: 340px;
        width: 325px;
        height: 360px;
    }

    .productFour{
        width: 300px;
        height: 340px;
    }

    .transformImg{
        height: 350px;
    }
}

@media screen and (max-width: 500px){
    .transformImg{
        height: 350px;
    }
}

@media screen and (max-width: 400px){
    .transformImg{
        height: 300px;
    }
}

@media screen and (max-width: 360px){
    .logo{
        width: 70px;
        margin-top: 15px;
    }


}