* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Oswald', sans-serif;
}

.logo{
    width: 100px;
    height: auto;
    margin-left: 24px;
}

@media screen and (max-width: 480px){
    .logo{
        width: 80px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 360px){
    .logo{
        width: 70px;
        margin-top: 15px;
    }
}